@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bat::before {
  content: '';
  filter: drop-shadow(0 0 3rem rgba(243, 239, 239, 0.5));
  background-size: cover;
  width: 40%;
  height: 100%;
  background-position: 0% 0;
}

.bat-head {
  background-position: 50% 0;
  background-size: cover;
}

.bat::after {
  content: '';
  background-size: cover;
  width: 26%;
  height: 100%;
  background-position: 100% 0;
}
